/* .vidModal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(149, 149, 149);
    z-index: 1500;
} */

.modalDialog_ {
    max-width: 850px;
    width: auto;
    margin: 10px
}

.callerVideoElement {
    width: 150px;
    height: 200px;
    /* width: 100%;
    height: 100%;  */
}