<div class="modal fade" id="confercall" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-body">
        <div class="conferencecall call-modal"><img class="bg-img" src="../assets/images/avtar/big/audiocall.jpg" alt="Avatar"/>
          <div class="center-con text-center">
            <div class="usersprof">
              <div class="profile"><img class="bg-img" src="../assets/images/avtar/2.jpg" alt="Avatar"/></div>
              <div class="profile"><img class="bg-img" src="../assets/images/avtar/3.jpg" alt="Avatar"/></div>
              <div class="profile"><img class="bg-img" src="../assets/images/avtar/5.jpg" alt="Avatar"/></div>
              <div class="profile"><img class="bg-img" src="../assets/images/avtar/big/videocall_bg.jpg" alt="Avatar"/></div>
            </div>
            <p>Incoming Call</p>
            <h3>Conference Call</h3>
            <ul>
              <li>     <a class="icon-btn btn-danger button-effect btn-xl is-animating cancelcall" href="#" data-dismiss="modal"> <i data-feather="phone"></i></a></li>
              <li><a class="icon-btn btn-success button-effect btn-xl is-animating" href="#"> <i data-feather="video"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>