


<div class="login-page1">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">
          <div class="login-contain-main">
            <div class="left-page">
              <div class="login-content">
                <div class="login-content-header"><img class="image-fluid" src="../assets/images/logo/landing-logo.png" alt="images"></div>
                <h3>Hello Everyone , We are TookUp</h3>
                
                <!-- show user login form or signup form or verify password form or forgot password form -->
                <!-- start of account verified -->
                <br/>
                <h3>Account Verification</h3>
                <h5>Your account was successfully verified</h5>
                <br/>
                <br/>
                <span>Yo can now </span><h3><a style="color:blue;" routerLink="/login">Login</a></h3>

                <!-- end of account verified -->
                

                <!-- <div class="line">
                  <h6>OR Connect with</h6>
                </div>
                <div class="medialogo">
                  <ul>
                    <li><a class="icon-btn btn-danger button-effect" href="#"><i class="fa fa-google"></i></a></li>
                    <li><a class="icon-btn btn-primary button-effect" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="icon-btn btn-facebook button-effect" href="#"><i class="fa fa-facebook-f"></i></a></li>
                  </ul>
                </div> -->

                <div class="termscondition">
                  <h4 class="mb-0"><span>*</span>Terms and condition<b>&amp;</b>Privacy policy</h4>
                </div>
              </div>
            </div>
            <div class="right-page">
              <div class="right-login animat-rate">
                <div class="animation-block">
                  <div class="bg_circle">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="cross"></div>
                  <div class="cross1"></div>
                  <div class="cross2"></div>
                  <div class="dot"></div>
                  <div class="dot1"></div>
                  <div class="maincircle"></div>
                  <div class="top-circle"></div>
                  <div class="center-circle"></div>
                  <div class="bottom-circle"></div>
                  <div class="bottom-circle1"></div>
                  <div class="right-circle"></div>
                  <div class="right-circle1"></div><img class="heart-logo" src="../assets/images/login_signup/5.png" alt="login logo"/><img class="has-logo" src="../assets/images/login_signup/4.png" alt="login logo"/><img class="login-img" src="../assets/images/login_signup/1.png" alt="login logo"/><img class="boy-logo" src="../assets/images/login_signup/6.png" alt="login boy logo"/><img class="girl-logo" src="../assets/images/login_signup/7.png" alt="girllogo"/><img class="cloud-logo" src="../assets/images/login_signup/2.png" alt="login logo"/><img class="cloud-logo1" src="../assets/images/login_signup/2.png" alt="login logo"/><img class="cloud-logo2" src="../assets/images/login_signup/2.png" alt="login logo"/><img class="cloud-logo3" src="../assets/images/login_signup/2.png" alt="login logo"/><img class="cloud-logo4" src="../assets/images/login_signup/2.png" alt="login logo"/><img class="has-logo1" src="../assets/images/login_signup/4.png" alt="login logo"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
