


<div class="login-page1">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">
          <div class="login-contain-main">
            <div class="left-page">
              <div class="login-content">
                <div class="login-content-header"><img class="image-fluid" src="../assets/images/logo/landing-logo.png" alt="images"></div>
                <!-- <h3>Hello Everyone , We are TookUp</h3> -->
                
                <!-- start of reset password -->
                    <h4>RESET YOUR PASSWORD.</h4>
                    <h5>You can reset your password here</h5>
                    <br>
                    <p>Input your new password</p>
                    <!-- displays http request errors -->
                    <!-- <div 
                      *ngIf="requestsErrorMessage"
                      style="width:100%;min-height: 2em;border: 0.3px solid red;margin-top: -3px;padding:0.2em;margin-bottom: 1em;">
                          <p style="color:red;margin: 0 5em;">{{ requestsErrorMessage }}</p>
                      </div> -->
                      <div *ngIf="requestsErrorMessage" class="alert alert-danger" role="alert">
                        <p style="color:red;margin: 0 5em;">{{ requestsErrorMessage }}</p>
                      </div>
                      <div *ngIf="passwordResetSuccessful" class="alert alert-primary" role="alert">
                        Password Has been reset successfully
                      </div>
                    <form class="form1" [formGroup]="resetPasswordFormGroup" (ngSubmit)="handleResetPasswordFormSubmit()">
                        <div class="form-group">
                            <label class="col-form-label" for="inputPassword3">New Password</label>
                            
                            <input 
                              class="form-control" 
                              id="inputPassword3" 
                              type="password" 
                              placeholder=""
                              formControlName="newPassword">
                              <p
                                class="text-danger"
                                *ngIf="resetPasswordFormGroup.controls?.newPassword.invalid && resetPasswordFormGroup.controls?.newPassword.touched"
                                >
                                * Password is required and must be of length 6+
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputRetypePassword3">Confirm Password</label>
                            
                            <input 
                              class="form-control" 
                              id="inputRetypePassword3" 
                              type="password" 
                              placeholder=""
                              formControlName="confirmPassword">
                              <p
                                class="text-danger"
                                *ngIf="resetPasswordFormGroup.controls?.confirmPassword.invalid && resetPasswordFormGroup.controls?.confirmPassword.touched|| passwordsNotMatching"
                                >
                                * confirm Password is required and must match the new password
                            </p>
                        </div>
                        <div class="form-group">
                        <div class="buttons">
                            <!-- <a class="btn btn-primary button-effect btn-login"  (click)="handleSendLinkBtnClick()">
                            <span *ngIf=>
                                <app-loading-spinner></app-loading-spinner>
                            </span>
                            
                            <ng-template #showSavePasswordLinkText>Save Password</ng-template>
                            
                            </a> -->


                            <!-- save password button start -->
                            <!-- <a class="btn btn-primary button-effect btn-login" >
                              <span *ngIf="savePasswordBtnIsClicked;else showSavePasswordLinkText">
                                  <app-loading-spinner></app-loading-spinner>
                              </span>
                              <ng-template #showSavePasswordLinkText>
                                  <button type="submit" class="btn-primary button-effect btn-login">Save Password</button>
                              </ng-template>
                              </a> -->
                            
                              <a > 
                                <span class="btn btn-primary button-effect " *ngIf="savePasswordBtnIsClicked;else showSavePasswordLinkText">
                                    <app-loading-spinner></app-loading-spinner>
                                </span>
                                <ng-template #showSavePasswordLinkText>
                                    <button type="submit" class="btn btn-primary button-effect " style="color:white;">Login</button>
                                </ng-template>
                                </a>

                            <!-- save password button end -->
                            <h4>Already have an account? <a style="color:blue;" (click)="notify_ClickedGoToLogin.emit()">Go to Login</a></h4>

                            <h5>Don't have an account yet? <a style="color:blue;" (click)="notify_ClickedGoToCreateAccount.emit()">Create Account</a></h5>
                        </div>
                        </div>
                    </form>

                    <!-- end of reset Password -->
                

                <!-- <div class="line">
                  <h6>OR Connect with</h6>
                </div>
                <div class="medialogo">
                  <ul>
                    <li><a class="icon-btn btn-danger button-effect" href="#"><i class="fa fa-google"></i></a></li>
                    <li><a class="icon-btn btn-primary button-effect" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="icon-btn btn-facebook button-effect" href="#"><i class="fa fa-facebook-f"></i></a></li>
                  </ul>
                </div> -->

                <div class="termscondition">
                  <h4 class="mb-0"><span>*</span>Terms and condition<b>&amp;</b>Privacy policy</h4>
                </div>
              </div>
            </div>
            <div class="right-page">
              <div class="right-login animat-rate">
                <div class="animation-block">
                  <div class="bg_circle">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="cross"></div>
                  <div class="cross1"></div>
                  <div class="cross2"></div>
                  <div class="dot"></div>
                  <div class="dot1"></div>
                  <div class="maincircle"></div>
                  <div class="top-circle"></div>
                  <div class="center-circle"></div>
                  <div class="bottom-circle"></div>
                  <div class="bottom-circle1"></div>
                  <div class="right-circle"></div>
                  <div class="right-circle1"></div><img class="heart-logo" src="../assets/images/login_signup/5.png" alt="login logo"/><img class="has-logo" src="../assets/images/login_signup/4.png" alt="login logo"/><img class="login-img" src="../assets/images/login_signup/1.png" alt="login logo"/><img class="boy-logo" src="../assets/images/login_signup/6.png" alt="login boy logo"/><img class="girl-logo" src="../assets/images/login_signup/7.png" alt="girllogo"/><img class="cloud-logo" src="../assets/images/login_signup/2.png" alt="login logo"/><img class="cloud-logo1" src="../assets/images/login_signup/2.png" alt="login logo"/><img class="cloud-logo2" src="../assets/images/login_signup/2.png" alt="login logo"/><img class="cloud-logo3" src="../assets/images/login_signup/2.png" alt="login logo"/><img class="cloud-logo4" src="../assets/images/login_signup/2.png" alt="login logo"/><img class="has-logo1" src="../assets/images/login_signup/4.png" alt="login logo"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
