<main class="sidebar-active">
  <!-- start loader -->
    <app-tookup-loader></app-tookup-loader>
  <!-- end loader -->

  <!-- START CHITCHAT CONTAINER SIDEBAR TOGGLE -->
    <!-- <app-chitchat [userInfoObject]="userInfoObject"></app-chitchat> -->

    <div class="chitchat-container sidebar-toggle">
      <!-- START MAIN LEFT NAVIGATION (drawer)  -->
      <app-main-nav></app-main-nav>
      <!-- END MAIN LEFT NAVIGATION (drawer)  -->
  
      <!-- START LEFT MAIN NAVIGATION DRAWERS DISPLAY -->
      <app-main-nav-drawers></app-main-nav-drawers>
      
      <!-- END LEFT MAIN NAVIGATION DRAWERS DISPLAY -->
  
  
      <!-- START MAIN CHIT CHAT -->
      <div class="chitchat-main small-sidebar" id="content">
        <!-- chat content tab -->
        <app-chat-content-tab></app-chat-content-tab>
        <!-- end chat content tab -->

        <!-- start call content tab -->
        <!-- Start CHAT USER calls details -->
        <app-call-content-tab></app-call-content-tab>
        
        <!-- End CHAT USER calls details -->
        <!-- end call content tab -->
  
        <!-- start contact content tab -->
        <app-contact-content-tab></app-contact-content-tab>
        
        <!-- end contact content tab -->
      </div>
      <!-- END MAIN CHIT CHAT -->
  
      <!-- START (cotact) PROFILE PERSONAL INFORMATION -->
      <app-profile-personal-information></app-profile-personal-information>
      
      <!-- END (cotact) PROFILE PERSONAL INFORMATION -->
  
      <!-- start right nav items and drawer content-->
      <app-right-navigation-and-drawers></app-right-navigation-and-drawers>
      
      <!-- end right nav items and drawer content-->
  
    </div>

  <!-- END CHITCHAT CONTAINER SIDEBAR TOGGLE -->

<!-- =============================================== -->
  <!-- MODALS -->
<!-- =============================================== -->
    <!--start Add contact  -->
    
    <app-add-contact></app-add-contact>
    <!--end Add contact  -->

    <!-- start create poll  --> 
    <app-create-poll-modal></app-create-poll-modal>
    
    <!-- end create poll  -->

    <!-- start add notes  -->
    <app-notes-model></app-notes-model>
    <!-- end add notes  -->

    <!-- start set reminders -->
    <app-set-reminder-modal></app-set-reminder-modal>
    
    <!-- end set reminders -->

    <!-- start create snippets -->
    <app-snippet-modal></app-snippet-modal>
    
    <!-- end create snippets -->

    <!-- audio call -->
    <app-audio-call-modal></app-audio-call-modal>
    
    <!-- end audio call -->

    <!-- video call -->
    <!-- <app-video-call-modal></app-video-call-modal> -->
    
    <!-- end video call -->

    <!-- incoming call conference call -->
    <app-conference-call-modal></app-conference-call-modal>
    
    <!-- end incoming call conference call -->

    <!-- confvideocl -->
    <app-conference-video-call-modal></app-conference-video-call-modal>
    
    <!-- end confvideocl -->

    <!-- audio rcv call -->
    <app-audio-receive-call-modal></app-audio-receive-call-modal>
    
    <!-- end audio rcv call -->

    <!-- add call -->
    <app-add-call-modal></app-add-call-modal>
    
    <!-- end add call -->

    <!-- todo modal -->
    <app-todo-modal></app-todo-modal>
    <!-- end todo modal -->

    <!-- create to do -->
    <app-create-todo-modal></app-create-todo-modal>
    
    <!-- end create to do -->

    <!-- message chat modal-->
    <app-message-chat-modal></app-message-chat-modal>
    
    <!-- end message chat modal -->

    <!-- message call modal -->
    <app-message-call-modal></app-message-call-modal>
    
    <!-- end message call modal -->

    <!-- script -->
    <!-- <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/tippy-bundle.iife.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/switchery.js"></script>
    <script src="assets/js/easytimer.min.js">        </script>
    <script src="assets/js/index.js">        </script>
    <script src="assets/js/feather-icon/feather.min.js"></script>
    <script src="assets/js/feather-icon/feather-icon.js"></script>
    <script src="assets/js/ckeditor/ckeditor.js"></script>
    <script src="assets/js/ckeditor/styles.js"></script>
    <script src="assets/js/ckeditor/adapters/jquery.js"></script>
    <script src="assets/js/ckeditor/ckeditor.custom.js"></script>
    <script src="assets/js/date-picker/datepicker.js"></script>
    <script src="assets/js/date-picker/datepicker.en.js"></script>
    <script src="assets/js/date-picker/datepicker.custom.js"></script>
    <script src="assets/js/tour/intro.js"></script>
    <script src="assets/js/tour/intro-init.js"></script>
    <script src="assets/js/jquery.magnific-popup.js"></script>
    <script src="assets/js/zoom-gallery.js"></script>
    <script src="assets/js/script.js"></script> -->

    <!-- end scripts -->
</main>
