<h4>Forgot Your Password?.</h4>
<h5>You can reset your password here</h5>
<br>
<p>Input your email and we will send you a link to reset your password</p>
<div 
*ngIf="requestsErrorMessage"
style="width:100%;min-height: 2em;border: 0.3px solid red;margin-top: -3px;padding:0.2em;margin-bottom: 1em;">
    <p style="color:red;margin: 0 5em;">{{ requestsErrorMessage }}</p>
</div>
<form class="form1" [formGroup]="forgotPasswordFormGroup" (ngSubmit)="submitForgotPasswordForm()">
    <div class="form-group">
        <label class="col-form-label" for="inputEmail3">Email Address</label>
        <p
            class="text-danger"
            *ngIf="forgotPasswordFormGroup.controls?.email.invalid && forgotPasswordFormGroup.controls?.email.touched"
            >
            * Email is required
        </p>
        <input 
            class="form-control" 
            id="inputEmail3" 
            type="email" 
            placeholder="Demo@123gmail.com"
            formControlName="email">
    </div>
    <div class="form-group">
    <div class="buttons">

        <!-- start of button -->
        <a class="btn button-effect btn-signup" >
        <span *ngIf="sendLinkBtnIsClicked;else showSendLinkText">
            <app-loading-spinner></app-loading-spinner>
        </span>
        <ng-template #showSendLinkText>
            <button type="submit" class="button-effect btn-signup" style="color:white;width:100%;height:100%;">Send Link</button>
        </ng-template>
        </a>


        <!-- end of button -->
        <h4>Already have an account? <a style="color:blue;" (click)="notify_ClickedGoToLogin.emit()">Go to Login</a></h4>

        <h5>Don't have an account yet? <a style="color:blue;" (click)="notify_ClickedGoToCreateAccount.emit()">Create Account</a></h5>
    </div>
    </div>
</form>