<h4>Email has been sent.</h4>
<h5>Check you mail </h5>
<br>
<p>Incase you dint get the email, you can retry your action again</p>
<!-- <form class="form1">
    <div class="form-group">
    <label class="col-form-label" for="inputEmail3">Email Address</label>
    <input class="form-control" id="inputEmail3" type="email" placeholder="Demo@123gmail.com">
    </div>
    <div class="form-group">
    <div class="buttons">
        <a class="btn btn-primary button-effect btn-login"  (click)="handleSendLinkBtnClick()">
        <span *ngIf="sendLinkBtnIsClicked;else showSendLinkText">
            <app-loading-spinner></app-loading-spinner>
        </span>
        
        <ng-template #showSendLinkText>Send Link</ng-template>
        
        </a>
        <h4>Already have an account? <a style="color:blue;" (click)="notify_ClickedGoToLogin.emit()">Go to Login</a></h4>

        <h5>Don't have an account yet? <a style="color:blue;" (click)="notify_ClickedGoToCreateAccount.emit()">Create Account</a></h5>
    </div>
    </div>
</form> -->